{
    {$CADDY_GLOBAL_OPTIONS}
    frankenphp {
        #worker /path/to/your/worker.php
        {$FRANKENPHP_CONFIG}
    }
}

{$CADDY_EXTRA_CONFIG}

# Primary server block with self-signed certificate
https://cream-fm.art {
    root * public/
    encode zstd br gzip

      {$CADDY_SERVER_EXTRA_DIRECTIVES}
        php_server
}

# Stream redirect block
https://cream-fm.art/stream {
    root * public/
    encode zstd br gzip

    redir /stream http://cream-cast:8004/cream.mp3 permanent
}
