{
    {$CADDY_GLOBAL_OPTIONS}
    frankenphp {
        #worker /path/to/your/worker.php
        {$FRANKENPHP_CONFIG}
    }
}

{$CADDY_EXTRA_CONFIG}



:443 {

    handle_path /stream* {
        rewrite * /cream.mp3
        reverse_proxy http://cream-cast:8004
    }

    root * public/
    encode zstd br gzip
    tls internal
    # tls /app/fullchain.pem /app/privkey.pem

    {$CADDY_SERVER_EXTRA_DIRECTIVES}
    php_server
}

localhost {

    handle_path /stream* {
        rewrite * /cream.mp3
        reverse_proxy http://cream-cast:8004
    }

    root * public/
    encode zstd br gzip
    tls internal
    # tls /app/fullchain.pem /app/privkey.pem

    {$CADDY_SERVER_EXTRA_DIRECTIVES}
    php_server
}

https://cream-api {

    handle_path /stream* {
        rewrite * /cream.mp3
        reverse_proxy http://cream-cast:8004
    }

    root * public/
    encode zstd br gzip
    tls internal
    # tls /app/fullchain.pem /app/privkey.pem

    {$CADDY_SERVER_EXTRA_DIRECTIVES}
    php_server
}

# Stream redirect block





# prod workable Caddyfile below

# {
#     {$CADDY_GLOBAL_OPTIONS}
#     frankenphp {
#         #worker /path/to/your/worker.php
#         {$FRANKENPHP_CONFIG}
#     }
# }

# {$CADDY_EXTRA_CONFIG}

# # Main server block for general site handling
# https://cream-dream.site {

#     handle_path /stream* {
#         # Удаляем /stream из пути запроса и добавляем /cream.mp3
#         rewrite * /cream.mp3
#         reverse_proxy http://cream-cast:8004
#     }

#     root * public/
#     encode zstd br gzip
#     # tls /app/fullchain.pem /app/privkey.pem

#     {$CADDY_SERVER_EXTRA_DIRECTIVES}
#     php_server
# }

# :443 {

#     root * public/
#     encode zstd br gzip
#     tls internal
#     # tls /app/fullchain.pem /app/privkey.pem

#     {$CADDY_SERVER_EXTRA_DIRECTIVES}
#     php_server
# }

# https://cream-api {

#     root * public/
#     encode zstd br gzip
#     tls internal
#     # tls /app/fullchain.pem /app/privkey.pem

#     {$CADDY_SERVER_EXTRA_DIRECTIVES}
#     php_server
# }

# # Stream redirect block
